{% extends 'base.html' %}

{% block content %}
<h1>Appointments</h1>

<div class="submit-form"> 
    <a href="/appointments/new">+ Book New Appointment</a>
</div>

<table>
    <tr>
        <th>Date</th>
        <th>Treatment</th>
        <th>Animal</th>
        <th>Total Bill</th>
        <th>Edit Appointment</th>
        <th>Delete Appointment</th>
        <th>Check In</th>
        <th>Check Out</th>
    </tr>
    
    {% for appointment in appointments %}
    <tr>
        <td>{{ appointment.date.strftime("%d %b %Y") }}</td>
        <td>{{ appointment.treatment.description }}</td>
        <td>{{ appointment.animal.name }}</td>
        <td>{{ appointment.total_bill }}</td>
        <td>
            <form class="animal-form" action="/appointments/{{appointment.id}}/edit">
                <button class="edit-button"><i class="fa fa-pencil-square-o fa-3x" style="color:rgb(20, 107, 81)" ></i></button> 
              </form>
        </td>
        
        <td>
            <form class="animal-form" action="/appointments/{{appointment.id}}/delete" method="POST">
              <button class="trash-button"><i class="fa fa-trash-o fa-3x" style="color:rgb(92, 10, 10)"></i></button> 
            </form>
        </td>
        <td>
            <div class="check-in-buttons">
                <a href="/animals/{{appointment.animal.id}}/check_in" method="POST">Check In</a> 
            </div>
        </td>
        <!-- <td>
            <div class="check-in-buttons">
                <a href="/animals/{{appointment.animal.id}}/check_out" method="POST">Check Out</a>
            </div>
        </td> -->
    </tr>
    {% endfor %}
    
</table>
{% endblock content %}