{% extends 'base.html' %}

{% block content %}
<h1>Available Treatments:</h1>

    <table>
        <tr>
            <th>Description</th>
            <th>Price (£)</th>
            <th>Duration (minutes)</th>
            <th>Overnights</th>
        </tr>
        
        {% for treatment in treatments %}
        <tr>
            <td>{{ treatment.description }}</td>
            <td class="td-centre">{{ treatment.price }}</td>
            <td class="td-centre">{{ treatment.duration }}</td>
            <td class="td-centre">{{ treatment.overnights }}</td>
        </tr>
        {% endfor %}
        
    </table>

{% endblock content %}