{% extends 'base.html' %}

{% block content %}
<h1>Vets</h1>

<div class="submit-form"> 
    <a href="/vets/new">+ Add New Vet</a>
</div>

    {% for vet in vets %}
    <section id="vet-container">
        <div id="header-vet">
            <h3 >
                {{ vet.name }}
            </h3>
        </div>
        <div id="qualified-vet">
           <b> Qualified:</b> {{ vet.qualified_date.strftime("%d %b %Y") }} <br>
           <b>Number of Animals Assigned:</b> {{ animal_dict[vet.name] }}
        </div>
         <div id="photo-vet">  
            {% if vet.photo %}
                <img class="vet-photo" src="/static/img/{{ vet.photo }}" alt="vet photo">  
            {% else %}
                <img class="vet-photo" src="/static/img/placeholder-avatar.png" alt="vet photo">  
            {% endif %} 
        </div> 
        <div id="buttons-vet">
            <form action="/vets/{{vet.id}}/edit">
                <label for="edit_button"><b>Edit Vet</b></label><br>
                <button name="edit_button">
                    <i class="fa fa-pencil-square-o fa-3x" style="color:rgb(20, 107, 81)" ></i>
                </button> 
            </form>
        
            <form action="/vets/{{vet.id}}/delete" method="POST">
                <label for="delete_button"><b>Delete Vet</b></label><br>
                <button name="delete_button">
                    <i class="fa fa-trash-o fa-3x" style="color:rgb(92, 10, 10)"></i>
                </button> 
            </form>
        </div>
    </section> 
    {% endfor %}



{% endblock content %}