{% extends 'base.html' %}
{% block content %}
<form action="/vets" method="post">
    <div>
        <label for="name">Name: <span class="required_*">*</span></label><br>
        <input type="text" id="name" name="name" placeholder="eg Joe Bloggs" required autofocus>
    </div>

    <div>
        <label for="qualified_date">Qualified Date: <span class="required_*">*</span></label><br>
        <input type="date" id="qualified_date" name="qualified_date" placeholder="select" required inputmode="tel"> 
    </div>

    <button type="submit">Add Vet</button>
</form>
{% endblock content %}