{% extends 'base.html' %}
{% block content %}
<header>
    <h2 class="centred-heading">Edit Animal</h2>
</header>
<form class="form-style-1" action="/animals/{{ animal.id }}" method="post">
    <div>
        <label for="name">Name: <span class="required_*">*</span></label><br>
        <input type="text" id="name" name="name" value="{{ animal.name }}" placeholder="eg Scooby Doo" required autofocus>
    </div>

    <div>
        <label for="date_of_birth">Date of Birth: <span class="required_*">*</span></label><br>
        <input type="date" id="date_of_birth" name="date_of_birth" value="{{ animal.date_of_birth }}"> 
    </div>

    <div >
        <label for="type_of_animal">Type of Animal: <span class="required_*">*</span></label><br>
    </div>
    <section class="radio-container">   
        <div>
            <input type="radio" id="dog" name="type_of_animal" value="Dog" 
            {% if animal.type_of_animal == "Dog" %}
                checked = "checked"
            {% endif %}>
            <label class="radio-buttons" for="dog">Dog</label>
        </div>
        <div>
            <input type="radio" id="cat" name="type_of_animal" value="Cat" 
                {% if animal.type_of_animal == "Cat" %}
                    checked = "checked"
                {% endif %}>
            <label class="radio-buttons" for="cat">Cat</label>
        </div>
        <div>
            <input type="radio" id="rabbit" name="type_of_animal" value="Rabbit" 
                {% if animal.type_of_animal == "Rabbit" %}
                    checked = "checked"
                {% endif %}>
            <label class="radio-buttons" for="rabbit">Rabbit</label>
        </div>
        <div>
            <input type="radio" id="hamster" name="type_of_animal" value="Hamster" 
                {% if animal.type_of_animal == "Hamster" %}
                    checked = "checked"
                {% endif %}>
            <label class="radio-buttons" for="hamster">Hamster</label>
        </div>
        <div>
            <input type="radio" id="bird" name="type_of_animal" value="Bird" 
                {% if animal.type_of_animal == "Bird" %}
                    checked = "checked"
                {% endif %}>
            <label class="radio-buttons" for="bird">Bird</label>
        </div>
        <div>
            <input type="radio" id="snake" name="type_of_animal" value="Snake"
                {% if animal.type_of_animal == "Snake" %}
                    checked = "checked"
                {% endif %}>
            <label class="radio-buttons" for="snake">Snake</label>
        </div>
        <div>
            <input type="radio" id="turtle" name="type_of_animal" value="Turtle"
                {% if animal.type_of_animal == "Turtle" %}
                    checked = "checked"
                {% endif %}>
            <label class="radio-buttons" for="turtle">Turtle</label>
        </div>
        <div>
            <input type="radio" id="chinchilla" name="type_of_animal" value="Chinchilla">
            <label for="Chinchilla">Chinchilla</label>
        </div>
    </section> 

    <div>
        <label for="owner">Owner:</label>
        <select id="owner" name="owner_id" value="{{ owner }}">
          {% for owner in owners  %}
              <option value="{{owner.id}}" 
                {% if owner.name == animal.owner.name %}
                  selected
                {% endif %}>{{ owner.name }}</option>
          {% endfor %}
        </select>
    </div>

    <div>
        <label for="vet">Vet:</label>
        <select id="vet" name="vet_id">
            {% for vet in vets  %}
                <option value="{{vet.id}}">{{ vet.name }}</option>
            {% endfor %}
        </select>
    </div>

    {% if animal.photo %}
        <div class="warning">    
            Photo is already in the system! <br>
            <img class="animal-photo" src="/static/img/{{ animal.photo }}" alt="animal photo">
        </div>
         
    {% endif %}
    <div class="submit-button">
        <button type="submit">Edit Animal</button>
    </div>
   
</form>
{% endblock content %}