{% extends 'base.html' %}

{% block content %}
<h1>Animals</h1>

    <div class="submit-form"> 
        <a href="/animals/new">+ Register New Animal</a>
    </div>
<hr>
<h3>Animals currently in practice:</h3>
    {% if checked_in_animals|length > 0%}
        <table>
            <tr>
                <th>Name</th>
                <th>Check-in Time</th>
                <th>Type of Appointment</th>
                <th>Vet</th>
            </tr>
            {% for animal in checked_in_animals %}
                <tr>
                    <td>{{ animal[0] }}</td>
                    <td>{{ animal[1].strftime("%H:%M %d-%b-%Y") }}</td>
                    <td>{{ animal[2] }}</td>
                    <td>{{ animal[3] }}</td>
                </tr>
            {% endfor %}
                
        </table>  
    {% else %}
        <p class="warning">There are no animals checked-in yet! <a href="/appointments">Go to appointments</a></p>
    {% endif %}  
<hr>

    {% for animal in animals %}
        <section id="animal-container">
            <div id="header-animal">
                <h3>
                    {{ animal.name }} the {{ animal.type_of_animal }}
                </h3>
            </div>
            <div id="animal-photo-cont">
                {% if animal.photo %}
                    <img class="animal-photo" src="/static/img/{{ animal.photo }}" alt="animal photo">  
                {% else %}
                    <img class="animal-photo"  src="/static/img/placeholder_icon.jpeg" alt="animal photo">  
                {% endif %} 
            </div>
            
            <div id="animal-info">
                Date of Birth: {{ animal.date_of_birth.strftime("%d %b %Y") }} 
                <br>
                Owner: {{ animal.owner.name }}
                <br>
                Vet: {{ animal.vet.name }}
            </div>
            <div id="buttons-animal">
                <form action="/animals/{{animal.id}}/edit">
                    <button class="edit-button"><i class="fa fa-pencil-square-o fa-3x" style="color:rgb(20, 107, 81)" ></i></button> 
                </form>
            
                <form  action="/animals/{{animal.id}}/delete" method="POST">
                    <button class="trash-button"><i class="fa fa-trash-o fa-3x" style="color:rgb(92, 10, 10)"></i></button> 
                </form>
                <div class="submit-form">
                    <a href="/animals/{{animal.id}}/notes">Notes</a>
                </div>
                
            </div>
        </section>

    {% endfor %}

{% endblock content %}