{% extends 'base.html' %}

{% block content %}
<h1>Animals</h1>

    <div class="submit-form"> 
        <a href="/animals/new">+ Register New Animal</a>
    </div>
<hr>
<h3>Animals in practice:</h3>
    <table>
        <tr>
            <th>Name</th>
            <th>Check-in Time</th>
            <th>Type of Appointment</th>
            <th>Vet</th>
        </tr>
        {% for animal in checked_in_animals %}
            <tr>
                <td>{{ animal[0] }}</td>
                <td>{{ animal[1].strftime("%H:%M %d-%b-%Y") }}</td>
                <td>{{ animal[2] }}</td>
                <td>{{ animal[3] }}</td>
            </tr>
        {% endfor %}
            
    </table>    
    <!-- .strftime("%d %b %Y") -->
<hr>

    {% for animal in animals %}
        
        

        

        <section class="animal-container">
            <div id="heading-animal">
                <h2>{{ animal.name }} the {{ animal.type_of_animal }}</h2>
            </div>
            <div>
                {% if animal.photo %}
                <img class="animal-photo" src="/static/img/{{ animal.photo }}" alt="animal photo">  
            {% else %}
                <img class="animal-photo"  src="/static/img/placeholder_icon.jpeg" alt="animal photo">  
            {% endif %} 
            </div>
            <div>Date of Birth: {{ animal.date_of_birth.strftime("%d %b %Y") }} 
            </div>   
            <div>
                Owner: {{ animal.owner.name }}
            </div>
            <div>
                Vet: {{ animal.vet.name }}
            </div>
        <section class="animal-button">
            <div>
                <form action="/animals/{{animal.id}}/edit">
                    <button class="edit-button"><i class="fa fa-pencil-square-o fa-3x" style="color:rgb(20, 107, 81)" ></i></button> 
                    </form>
            </div>
            <div>
                <form  action="/animals/{{animal.id}}/delete" method="POST">
                    <button class="trash-button"><i class="fa fa-trash-o fa-3x" style="color:rgb(92, 10, 10)"></i></button> 
                </form>
            </div>

            <div >
                <a href="/animals/{{animal.id}}/notes">Notes</a>
            </div>
        </section>
        </section>
            
            
        </div>
    {% endfor %}


{% endblock content %}