{% extends 'base.html' %}
{% block content %}
    <h2>{{ animal.name }}'s Notes</h2>
    <h3>Add New Note:</h3>
    <form class="form-style-2" action="/animals/{{ animal.id }}/notes" method="post">
        <div>
            <label for="comment">Comment: <span class="required_*">*</span></label><br>
            <textarea name="comment" id="comment" cols="30" rows="2"></textarea>
        </div>
    
        <div>
            <label for="follow_up">Follow-up Required?</label>
            <input type="checkbox" value="1" name="follow_up" id="follow_up">
        </div>
        <div>
            <button class="submit-button-2" type="submit">Add Note</button>
        </div>
    </form>

    <hr>

    {% if notes|length > 0 %}
        <table>
            <tr>
                <th>Date</th>
                <th>Comment</th>
                <th>Follow Up</th>
            </tr>
            
            {% for note in notes %}
            <tr>
                <td>{{ note.date.strftime("%d %b %Y") }}</td>
                <td>{{ note.comment }}</td>
                <td>{{ note.follow_up }}</td>
            </tr>
            {% endfor %}
            
        </table>
    {% else %}
        <p class="warning">Animal does not currently have any notes!</p>
    {% endif %}
    
{% endblock content %}