@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

body{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(63, 62, 62);
    background-color: rgb(20, 63, 77);
}

#header-1 {
    grid-area: header-1;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-1 h1{
    margin: 0px;
    font-family: 'Acme', sans-serif;
    font-size: 45px;
    min-width: 700px;
}

#footer-1 {
    grid-area: footer-1;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-bar {
    grid-area: nav-bar;
    background-color: #f0dcc5;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-right: solid 2px rgb(20, 63, 77);
}

#content-1 {
    grid-area: content-1;
    padding-left: 40px;
    padding-right: 40px;
    background-color: white;
    overflow-y: scroll;
}

#logo-1 {
    grid-area: logo-1;
    align-self: center;
    justify-self: center;
}

#logo-1 img {
    max-height: 100px;
}

#grid {
    display: grid;
    grid-template-areas: 
    '. header-1 logo-1'
    'nav-bar content-1 content-1'
    'footer-1 footer-1 footer-1';
    grid-template-columns: 170px 7fr 170px;
    grid-template-rows: 1.5fr 8fr 0.5fr;
}