.centred-heading{
    text-align: center;
}

h2 {
    font-size: 36px;
    margin-bottom: 30px;
}

h3 {
    margin: 0;
}

table, th, td {
    border: 1px solid black;
    margin: 5px;
}

th {
    font-weight: 900;
    font-size: 20px;
    padding: 5px;
}

td {
    padding: 5px;
}

td form {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.animal-photo{
    border-radius: 20%;
    height: 200px;
    width: 200px;
    object-fit: cover;
}

#header-vet{
    grid-area: header-vet;
    font-size: 30px;
}

#photo-vet{
    display: flex;
    grid-area: photo-vet;
    justify-content: center;
}

#buttons-vet {
    display: flex;
    grid-area: buttons-vet;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#qualified-vet {
    grid-area: qualified-vet;
    margin-top: 20px;
}

#vet-container{
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    width: 70%;
    display: grid;
    grid-template-areas: 
    'header-vet header-vet'
    'qualified-vet photo-vet'
    'buttons-vet photo-vet';
    background-color: #dddad7;
    border: solid 3px rgb(20, 63, 77);
    border-radius: 8px;
    grid-template-rows: 1fr 2fr 4fr;
}

.vet-photo{
    border-radius: 50%;
    height: 250px;
    width: 250px;
    object-fit: cover;
}

.vet-photo-small{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    object-fit: cover;
}


.animal-button {
    display: flex;
    flex-flow: row wrap;
    background-color: rgb(164, 168, 168);
}

.warning {
    color: rgb(155, 32, 32);
    font-weight: 800;
}

.warning img{
    padding: 20px;
}

.animal-link a{
    color:rgb(20, 63, 77);
    font-size: 20px;
    font-weight: bold;
}

#header-animal{
    grid-area: header-animal;
    font-size: 30px;
}

#animal-photo-cont{
    display: flex;
    grid-area: animal-photo-cont;
    justify-content: center;
}

#buttons-animal {
    display: flex;
    grid-area: buttons-animal;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

#animal-info {
    grid-area: animal-info;
    margin-top: 20px;
}

#animal-container{
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    width: 30vw;
    /* width: 30%;
    display: grid; */
    grid-template-areas: 
    'header-animal animal-photo-cont'
    'animal-info animal-photo-cont'
    'buttons-animal animal-photo-cont';
    background-color: #dddad7;
    border: solid 3px rgb(20, 63, 77);
    border-radius: 8px;
}

#animal-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#animal-flex div {
    display: flex;
}

.td-centre {
    text-align: center;
}

table {
    width: 90%;
}

.radio-container{
    display: flex;
    flex-flow: row wrap;
    margin: 10px;
}

.radio-container div {
    width: 20%;
    margin: 0px;
    min-width: 80px;
}

.radio-container div label {
    font-weight: 300;
    font-size: 16px;
}