.centred-heading{
    text-align: center;
}


table, th, td {
    border: 1px solid black;
}


h2 {
    font-size: 36px;
    margin-bottom: 50px;
}

.animal-container {

    box-shadow: teal;
    width: 50%;
    justify-items: center;
    justify-self: center;
    justify-content: center;
}

.animal-photo{
    border-radius: 20%;
    height: 300px;
    width: 300px;
    object-fit: cover;
    
}

.animal-container div img {

    min-height: 250px;

}

.animal-button {
    display: flex;
    flex-flow: row wrap;
    background-color: teal;
}

