{% extends 'base.html' %}

{% block content %}
<h1>Owners</h1>

<div class="submit-form"> 
    <a href="/owners/new">+ Register New Owner</a>
</div>

<!-- <ul>
    {% for owner in owners %}
        <li>
            {{ owner.name }}{{ owner.phone_number }}{{ owner.address }}{{ owner.email_address }}
        </li>
    {% endfor %}
</ul> -->

<table>
    <tr>
        <th>Name</th>
        <th>Phone Number</th>
        <th>Address</th>
        <th>Email Address</th>
        <th>Registered</th>
        <th>Animals</th>
        <th>Edit Owner</th>
        <th>Delete Owner</th>
    </tr>
    
    {% for owner in owners %}
    <tr>
        <td>{{ owner.name }}</td>
        <td>{{ owner.phone_number }}</td>
        <td>{{ owner.address }}</td>
        <td>{{ owner.email_address }}</td>
        <td>{{ owner.registered }}</td>
        <td>
            <form class="animal-form" action="/owners/{{owner.id}}">
                <button class="animal-button"><i class="fa fa-paw fa-3x" style="color:rgb(20, 58, 107)" ></i></button> 
            </form>
        </td>
        <td>
            <form class="animal-form" action="/owners/{{owner.id}}/edit">
                <button class="edit-button"><i class="fa fa-pencil-square-o fa-3x" style="color:rgb(20, 107, 81)" ></i></button> 
              </form>
        </td>
        
        <td>
            <form class="animal-form" action="/owners/{{owner.id}}/delete" method="POST">
              <button class="trash-button"><i class="fa fa-trash-o fa-3x" style="color:rgb(92, 10, 10)"></i></button> 
            </form>
        </td>
    </tr>
    {% endfor %}
    
</table>
{% endblock content %}