{% extends 'base.html' %}
{% block content %}
<h3>Owner's registration is not active!</h3>
<h4>Reactivate:</h4>
<div class="submit-form">
    <a href="/owners/new">+ New Owner</a>
</div>
<h3>Is Owner Registered?</h3>
<h4>Yes:</h4>
    <div class="submit-form">
        <a href="/animals/new">+ New Animal</a>
    </div>
<h4>No:</h4>
    <div class="submit-form">
        <a href="/owners">Owners</a>
    </div>
<table>
    <tr>
        <th>Name</th>
        <th>Phone Number</th>
        <th>Address</th>
        <th>Email Address</th>
        <th>Registered</th>

    </tr>
    
    {% for owner in owners %}
    <tr>
        <td>{{ owner.name }}</td>
        <td>{{ owner.phone_number }}</td>
        <td>{{ owner.address }}</td>
        <td>{{ owner.email_address }}</td>
        <td>{{ owner.registered }}</td>
        
    </tr>
    {% endfor %}
</table>
{% endblock content %}