{% extends 'base.html' %}
{% block content %}
<h2 class="warning" >Owner's registration is not active!</h2>

<form class="form-style-1" action="/owners/register" method="post">
    <div>
        <label for="owner">Unregistered Owners:</label>
        <select id="owner" name="owner_id">
          {% for owner in owners  %}
            {% if owner.registered is false %}
              <option value="{{owner.id}}">{{ owner.name }}</option>
            {% endif %}
          {% endfor %}
        </select>
    </div >
    <div class="submit-button">
      <button type="submit">Reactivate Registration</button>
    </div>
    
</form>

{% endblock content %}