<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='home-page.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='buttons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}">
    <title>Paws & Claws</title>
</head>
<body id="grid">
    <header id="header-1">
        <h1><i class="fa fa-paw" aria-hidden="true" style="color:rgb(173, 240, 252)"></i> Paws & Claws Veterinary Practice <i class="fa fa-paw" aria-hidden="true" style="color:rgb(173, 240, 252)"></i></h1>
    </header> 
    <section id="logo-1">
        <img src="/static/img/cat.png" alt="cat silhouette">
    </section>
        <nav id="nav-bar">
                <div class=nav-button>
                    <a href="/">Home</a>
                </div>
                <div class=nav-button>
                    <a href="/vets">Vets<a>
                </div>
                <div class=nav-button>
                    <a href="/owners">Owners</a>
                </div>
                <div class=nav-button>
                    <a href="/animals">Animals</a>
                </div>
                <div class=nav-button>
                    <a href="/treatments">Treatments</a>
                </div>
                <div class=nav-button>
                    <a href="/appointments">Appointments</a>
                </div>
        </nav>
        <section id="content-1">
            {% block content %}
                
            {% endblock content %}
        </section>
        <footer id="footer-1">
            <div> © P&C 2021</div>
        </footer>
</body>

</html>