{% extends 'base.html' %}

{% block content %}
<h2 class="centred-heading">Quick Access</h2>

<section id="home-container">
    <div>
        <a href="/owners/new">Register New Owner</a>
    </div>
    <div>
        <a href="/animals/new">Register New Animal</a>
    </div>
    
    <div>
        <a href="/vets/new">Add New Vet</a>
    </div>
    <div>
        <a href="/appointments/new">Book New Appointment</a>
    </div>
    <div>
        <a href="/appointments">Check In Animal</a>
    </div>
    <div>
        <a href="/appointments">Check Out Animal</a>
    </div>

</section>

{% endblock content %}